<div class="secondary-background-color mb-5 page">
  <div class="container py-5">
    <div class="row align-items-center text-white">
      <div class="col-8">
          <h1>Sobre nós</h1>
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque labore, corrupti animi porro pariatur veritatis illo expedita inventore commodi aliquid! Autem quos quas eligendi architecto ipsam at error facere eos!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque labore, corrupti animi porro pariatur veritatis
            illo expedita inventore commodi aliquid! Autem quos quas eligendi architecto ipsam at error facere eos!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque labore, corrupti animi porro pariatur veritatis
              illo expedita inventore commodi aliquid! Autem quos quas eligendi architecto ipsam at error facere eos!</p>
      </div>
      <div class="col-4">
        <img src="assets/img/about.svg" alt="library" class="img-fluid newsletter-image" />
      </div>
    </div>
  </div>
</div>

