.image{
    max-height: 449px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.image .book-image{
    min-height: 320px!important;
    max-height: 321px!important;
    object-fit: fill;
    border-radius: 18px 18px 0 0 ;
    -webkit-border-radius: 18px 18px 0 0 ;
    -moz-border-radius: 18px 18px 0 0 ;
    -ms-border-radius: 18px 18px 0 0 ;
    -o-border-radius: 18px 18px 0 0 ;
}
.form {
    position: relative
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fe4e16
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px
}

.form-input:focus {
    box-shadow: none;
    border: none
}
.primary-background-color{
  background-color: #fe4e16!important;
  color: #fff!important;

}
.secondary-background-color{
  background-color: #242525;
  color: #fe4e16

}
.primary-color{
  color: #fe4e16

}
.tertiary-background-color{
  background-color: #e3e3e3;
}
.new{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 429px;
    border: 2px solid #d1d5db;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.new .icon_btn {
  font-size: 48px;
  cursor: pointer;
  color: #242525;
}

.new .icon_btn:hover {
  color: #fe4e16;
}
