<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Adicionar um livro</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
      <form class="row g-3" novalidate #bookForm="ngForm" (ngSubmit)="bookForm.form.valid && saveBook()">
        <div class="col-md-6">
          <label for="title" class="form-label">Título</label>
          <input type="text"
            class="form-control"
            id="title" name="title"
            [(ngModel)]="book.title"
            #title="ngModel"
            [ngClass]="{ 'is-invalid': bookForm.submitted && title.invalid}"
            minlength="3" required autocomplete="off"
          >
          <div class="invalid-feedback" *ngIf="bookForm.submitted && title.invalid">
            <p *ngIf="title.errors?.['required']">Campo obrigatório e com o minimo de 3 caracter</p>
          </div>
        </div>
        <div class="col-md-6">
          <label for="price" class="form-label">Preço</label>
          <input type="number"
            class="form-control"
            id="price"
            name="price"
            [(ngModel)]="book.price"
            #price="ngModel"
            [ngClass]="{ 'is-invalid': bookForm.submitted && price.invalid }"
            minlength="1" required autocomplete="off"
          >
          <div class="invalid-feedback" *ngIf="bookForm.submitted && price.invalid">
            <p *ngIf="price.errors?.['required']">Campo obrigatório e somente número</p>
          </div>
        </div>
        <div class="col-12">
          <label for="author" class="form-label">Autor</label>
          <input type="text" class="form-control" id="author"
            name="author"
            [(ngModel)]="book.author"
            #author="ngModel"
            [ngClass]="{ 'is-invalid': bookForm.submitted && author.invalid }"
            minlength="1"
            required autocomplete="off"
          >
          <div class="invalid-feedback" *ngIf="bookForm.submitted && author.invalid">
            <p *ngIf="author.errors?.['required']">Campo obrigatório e com o minimo de 3 caracter</p>
          </div>
        </div>
        <div class="col-12">
            <label for="description" class="col-form-label">Descrição:</label>
            <textarea class="form-control" id="description" name="description" [(ngModel)]="book.description"></textarea>
        </div>
        <div class="col-md-5">
          <label for="editor" class="form-label">Editora</label>
          <input type="text" class="form-control" id="editor"
            name="editor"
            [(ngModel)]="book.publishing_company"
            #editor="ngModel"
            [ngClass]="{ 'is-invalid': bookForm.submitted && editor.invalid }"
            minlength="3" required autocomplete="off"
          >
          <div class="invalid-feedback" *ngIf="bookForm.submitted && editor.invalid">
            <p *ngIf="editor.errors?.['required']">Campo obrigatório e com o minimo de 3 caracter</p>
          </div>
        </div>
        <div class="col-md-4">
          <label for="category" class="form-label">Categoria</label>
          <select id="category" class="form-select" name="category" [(ngModel)]="book.category"
          [(ngModel)]="book.category"
            #category="ngModel"
            [ngClass]="{ 'is-invalid': bookForm.submitted && category.invalid }"
            minlength="3" required autocomplete="off"
          >
            <option value="">Escolha categoria...</option>
            <option *ngFor="let category of categories" [value]="category.category">
              {{category.category}}
            </option>
          </select>
          <div class="invalid-feedback" *ngIf="bookForm.submitted && category.invalid">
            <p *ngIf="category.errors?.['required']">Campo obrigatório</p>
          </div>
        </div>
        <div class="col-md-3">
          <label for="image" class="form-label">Imagem</label>
          <input type="file" class="form-control" id="image" name="image"  (change)="uploadFile($event)">
        </div>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn primary-background-color rounded-pill mt-3" type="submit">Adicionar</button>
        </div>
      </form>
    </div>
  </div>
</div>
