
/* Search Input */
.form {
    position: relative
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fe4e16
}

.form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

.left-pan {
    padding-left: 7px
}

.left-pan i {
    padding-left: 10px
}

.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 10px
}

.form-input:focus {
    box-shadow: none;
    border: none
}
/* Add new image */
.new{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 449px;
    border: 2px solid #d1d5db;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.new .icon_btn {
  font-size: 48px;
  cursor: pointer;
  color: #242525;
}

.new .icon_btn:hover {
  color: #fe4e16;
}



/* Main colors */
.primary-background-color{
  background-color: #fe4e16!important;
  color: #fff!important;

}
.secondary-background-color{
  background-color: #242525;
  color: #fe4e16

}
.tertiary-background-color{
  background-color: #e3e3e3;
}


/* modal form */

.contact-form {
  background-color: #ede7e6;
}

.contact-form .form-field {
  position: relative;
  margin: 28px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #fe4e16;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: transparent;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #fe4e16;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
  -webkit-transform .2s ease-in-out;
}
